* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.small-container {
  max-width: 1000px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.d-flex {
  display: flex;
}
.d-flex.wrap {
  flex-wrap: wrap;
}
.d-flex.justify-content-between {
  justify-content: space-between;
}
.d-flex.justify-content-evenly {
  justify-content: space-evenly;
}
.d-flex.align-center {
  align-items: center;
}

.upper-case {
  text-transform: uppercase;
}

header li {
  display: inline-block;
}
header #header-top {
  padding: 5px 0;
  font-size: 13px;
  background-color: #0282f9;
}
header #header-top ul {
  text-align: right;
}
header #header-top ul li:first-child {
  margin-right: 30px;
}
header #header-top ul li a {
  color: white;
}
header #header-bottom .logo {
  padding: 20px 0;
}
header #header-bottom .logo img {
  height: 80px;
}
header #header-bottom ul li {
  height: 124px;
  line-height: 124px;
  margin: 0 15px;
}
header #header-bottom ul li:hover {
  border-bottom: 5px solid #0282f9;
}
header #header-bottom ul li:hover a {
  color: #0282f9;
}
header #header-bottom ul li:last-child a span {
  color: #0282f9;
}
header #header-bottom ul li a {
  color: black;
  font-weight: 700;
}
header #header-bottom .search input {
  padding-right: 20px;
  border: 0;
  border-bottom: 3px solid #0282f9;
  text-align: right;
  font-weight: 700;
}
header #header-bottom .search a {
  display: inline-block;
  width: 15px;
  transform: translateX(-100%);
}

main .jumbotron.home {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  padding: 200px 0;
}
main .jumbotron.comics-details .top {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  padding: 200px 0;
}
main .jumbotron.comics-details .bottom {
  background-color: #0282f9;
}
main .jumbotron.comics-details .bottom .small-container {
  position: relative;
  padding: 30px 0;
}
main .jumbotron.comics-details .bottom .small-container .thumb {
  position: absolute;
  left: 0;
  bottom: 10px;
}
main #container-comics {
  color: white;
  background-color: black;
}
main #container-comics h1 span {
  display: inline-block;
  padding: 10px 20px;
  transform: translateY(-50%);
  background-color: #0282f9;
}
main #container-comics .card {
  width: 183px;
  margin-bottom: 30px;
}
main #container-comics .card a {
  color: white;
}
main #container-comics .card a .thumb {
  width: 175px;
  height: 175px;
  margin: 0 auto;
}
main #container-comics .card a .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main #container-comics .card a .series {
  padding: 20px 0;
}
main #container-comics .cta {
  padding-bottom: 15px;
  text-align: center;
}
main #container-comics .cta button {
  padding: 8px 50px;
  border-radius: 2px;
  border: 0;
  font-weight: 700;
  color: white;
  background-color: #0282f9;
}
main #buy-comics {
  padding: 50px 0;
  color: white;
  background-color: #0282f9;
}
main #buy-comics ul {
  list-style-type: none;
}
main #buy-comics ul li img {
  max-height: 60px;
  margin-right: 10px;
}
main #buy-comics ul li:last-child img {
  height: 40px;
}
main #comics-info .top {
  padding: 50px;
}
main #comics-info .top .info {
  width: 65%;
}
main #comics-info .top .info .sales-info {
  background-color: #55ba59;
}
main #comics-info .top .info .sales-info .left {
  flex-grow: 1;
  border-right: 1px solid black;
}
main #comics-info .top .info .sales-info .left, main #comics-info .top .info .sales-info .right {
  padding: 20px;
}
main #comics-info .top .adv {
  width: 35%;
}