* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.small-container {
  max-width: 1000px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.d-flex {
  display: flex;
}
.d-flex.wrap {
  flex-wrap: wrap;
}
.d-flex.justify-content-between {
  justify-content: space-between;
}
.d-flex.justify-content-evenly {
  justify-content: space-evenly;
}
.d-flex.align-center {
  align-items: center;
}

.upper-case {
  text-transform: uppercase;
}

header li {
  display: inline-block;
}
header #header-top {
  padding: 5px 0;
  font-size: 13px;
  background-color: #0282f9;
}
header #header-top ul {
  text-align: right;
}
header #header-top ul li:first-child {
  margin-right: 30px;
}
header #header-top ul li a {
  color: white;
}
header #header-bottom .logo {
  padding: 20px 0;
}
header #header-bottom .logo img {
  height: 80px;
}
header #header-bottom ul li {
  height: 124px;
  line-height: 124px;
  margin: 0 15px;
}
header #header-bottom ul li:hover {
  border-bottom: 5px solid #0282f9;
}
header #header-bottom ul li:hover a {
  color: #0282f9;
}
header #header-bottom ul li:last-child a span {
  color: #0282f9;
}
header #header-bottom ul li a {
  color: black;
  font-weight: 700;
}
header #header-bottom .search input {
  padding-right: 20px;
  border: 0;
  border-bottom: 3px solid #0282f9;
  text-align: right;
  font-weight: 700;
}
header #header-bottom .search a {
  display: inline-block;
  width: 15px;
  transform: translateX(-100%);
}

main .jumbotron.home {
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  padding: 200px 0;
}
main .jumbotron.comics-details .top {
  background-size: cover;
  padding: 200px 0;
}
main .jumbotron.comics-details .top.action-comics-deluxe {
  background-image: url("../images/action-comics-deluxe-jumbotron.jpg");
}
main .jumbotron.comics-details .top.american-vampire {
  background-image: url("../images/american-vampire-jumbotron.jpg");
}
main .jumbotron.comics-details .top.acquaman {
  background-image: url("../images/acquaman-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batgirl {
  background-image: url("../images/batgirl-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batman {
  background-image: url("../images/batman-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batman-beyond {
  background-image: url("../images/batman-beyond-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batman-superman {
  background-image: url("../images/batman-superman-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batman-superman-annual {
  background-image: url("../images/batman-superman-annual-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batman-joker-warzone {
  background-image: url("../images/batman-joker-warzone-jumbotron.jpg");
}
main .jumbotron.comics-details .top.batman-joker-three-jokes {
  background-image: url("../images/batman-joker-three-jokes-jumbotron.jpg");
}
main .jumbotron.comics-details .top.harley-quinn {
  background-image: url("../images/harley-quinn-jumbotron.jpg");
}
main .jumbotron.comics-details .top.catwoman {
  background-image: url("../images/catwoman-jumbotron.jpg");
}
main .jumbotron.comics-details .bottom {
  background-color: #0282f9;
}
main .jumbotron.comics-details .bottom .small-container {
  position: relative;
  padding: 30px 0;
}
main .jumbotron.comics-details .bottom .small-container .thumb {
  position: absolute;
  left: 0;
  bottom: 15px;
  border: 1px solid white;
  color: white;
}
main .jumbotron.comics-details .bottom .small-container .thumb img {
  display: block;
}
main .jumbotron.comics-details .bottom .small-container .thumb span {
  position: absolute;
  display: block;
  background-color: #00a9d9;
  text-align: center;
}
main .jumbotron.comics-details .bottom .small-container .thumb span.comics-type {
  top: 0;
  left: 0;
}
main .jumbotron.comics-details .bottom .small-container .thumb span.gallery {
  bottom: 0;
  left: 0;
  width: 100%;
}
main #container-comics {
  color: white;
  background-color: black;
}
main #container-comics h1 span {
  display: inline-block;
  padding: 10px 20px;
  transform: translateY(-50%);
  background-color: #0282f9;
}
main #container-comics .card {
  width: 183px;
  margin-bottom: 30px;
}
main #container-comics .card a {
  color: white;
}
main #container-comics .card a .thumb {
  width: 175px;
  height: 175px;
  margin: 0 auto;
}
main #container-comics .card a .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main #container-comics .card a .series {
  padding: 20px 0;
}
main #container-comics .cta {
  padding-bottom: 15px;
  text-align: center;
}
main #container-comics .cta button {
  padding: 8px 50px;
  border-radius: 2px;
  border: 0;
  font-weight: 700;
  color: white;
  background-color: #0282f9;
}
main #buy-comics {
  padding: 50px 0;
  color: white;
  background-color: #0282f9;
}
main #buy-comics ul {
  list-style-type: none;
}
main #buy-comics ul li img {
  max-height: 60px;
  margin-right: 10px;
}
main #buy-comics ul li:last-child img {
  height: 40px;
}
main #comics-info .top {
  padding: 50px;
}
main #comics-info .top .info {
  width: 65%;
}
main #comics-info .top .info h1 {
  color: #003f5e;
}
main #comics-info .top .info .sales-info {
  margin: 20px 0;
  color: white;
  background-color: #55ba59;
}
main #comics-info .top .info .sales-info .left {
  flex-grow: 1;
  border-right: 1px solid black;
}
main #comics-info .top .info .sales-info .left, main #comics-info .top .info .sales-info .right {
  padding: 20px;
}
main #comics-info .top .info .description {
  line-height: 25px;
  color: #958e87;
  font-weight: 600;
}
main #comics-info .top .adv {
  width: 35%;
  text-align: right;
  color: #958e87;
}
main #comics-info .bottom {
  padding: 20px 0 100px 0;
  background-color: #f6f6f6;
}
main #comics-info .bottom .row {
  padding: 10px 0;
  border-bottom: 1px solid #ced2c9;
}
main #comics-info .bottom .row h3 {
  margin-bottom: 20px;
  color: #003f5e;
}
main #comics-info .bottom .row .col:first-child {
  width: 30%;
}
main #comics-info .bottom .row .col:last-child {
  width: 70%;
}
main #comics-info .bottom .talent, main #comics-info .bottom .specs {
  width: calc(50% - 25px);
  font-weight: 600;
  color: #958e87;
}
main #comics-info .bottom .talent h5, main #comics-info .bottom .specs h5 {
  color: #003f5e;
}
main #comics-info .bottom .talent a, main #comics-info .bottom .specs a {
  color: #0282f9;
}
main #comics-info .bottom .talent {
  margin-right: 50px;
}
main #comics-info .bottom .specs .series {
  color: #0282f9;
}
main #cta {
  background-color: #f6f6f6;
  border-top: 1px solid #ced2c9;
}
main #cta .actions {
  border-left: 1px solid #ced2c9;
}
main #cta .actions .action {
  width: 25%;
  padding: 15px;
  border-right: 1px solid #ced2c9;
  color: #958e87;
}
main #cta .actions .action:nth-child(1) .icon {
  background-position: 0px 0;
}
main #cta .actions .action:nth-child(1):hover .icon {
  background-position: 0px 37px;
}
main #cta .actions .action:nth-child(2) .icon {
  background-position: 37px 0;
}
main #cta .actions .action:nth-child(2):hover .icon {
  background-position: 37px 37px;
}
main #cta .actions .action:nth-child(3) .icon {
  background-position: 74px 0;
}
main #cta .actions .action:nth-child(3):hover .icon {
  background-position: 74px 37px;
}
main #cta .actions .action:nth-child(4) .icon {
  background-position: 111px 0;
}
main #cta .actions .action:nth-child(4):hover .icon {
  background-position: 111px 37px;
}
main #cta .actions .action .icon {
  width: 37px;
  height: 37px;
  background-image: url("/images/cta-icons.png");
}
main .error-message {
  padding: 50px 0;
  font-size: 40px;
}

footer {
  color: white;
}

#footer-top {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
#footer-top .container {
  background-image: url("../images/dc-logo-bg.png");
  background-size: contain 40%;
  background-repeat: no-repeat;
  background-position: right;
}
#footer-top .container #footer-menus {
  padding: 20px 0;
}
#footer-top .container #footer-menus .menu {
  margin-right: 50px;
}
#footer-top .container #footer-menus .menu h3 {
  padding: 20px 0;
}
#footer-top .container #footer-menus .menu ul {
  list-style-type: none;
}
#footer-top .container #footer-menus .menu ul li:not(:last-child) {
  padding-bottom: 5px;
}
#footer-top .container #footer-menus .menu ul li a {
  display: inline-block;
  color: grey;
}
#footer-top .container .copyright {
  width: 50%;
  padding-bottom: 40px;
  font-size: 14px;
  color: grey;
}
#footer-top .container .copyright a {
  color: #0282f9;
}

#footer-bottom {
  padding: 30px 0;
  background-color: #303030;
}
#footer-bottom button {
  padding: 15px;
  border: 2px solid #0282f9;
  font-weight: 700;
  background-color: transparent;
  color: white;
}
#footer-bottom .social-icons {
  color: #0282f9;
}
#footer-bottom .social-icons li {
  display: inline-block;
  margin-left: 15px;
}
#footer-bottom .social-icons li .facebook {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/footer-facebook.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#footer-bottom .social-icons li .twitter {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/footer-twitter.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#footer-bottom .social-icons li .youtube {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/footer-youtube.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#footer-bottom .social-icons li .pinterest {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/footer-pinterest.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#footer-bottom .social-icons li .periscope {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/footer-periscope.png");
  background-size: contain;
  background-repeat: no-repeat;
}