* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.d-flex {
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }

    &.justify-content-between {
        justify-content: space-between;
    }

    &.justify-content-evenly {
        justify-content: space-evenly;
    }

    &.align-center {
        align-items: center;
    }
}

.upper-case {
    text-transform: uppercase;
}
