footer {
    color: $brand-secondary;
}

#footer-top {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;

    .container {
        background-image: url('../images/dc-logo-bg.png');
        background-size: contain 40%;
        background-repeat: no-repeat;
        background-position: right;

        #footer-menus {
            padding: 20px 0;

            .menu {
                margin-right: 50px;

                h3 {
                    padding: 20px 0;
                }

                ul {
                    list-style-type: none;

                    li {
                        &:not(:last-child) {
                            padding-bottom: 5px;
                        }

                        a {
                            display: inline-block;
                            color: grey;
                        }
                    }
                }
            }
        }

        .copyright {
            width: 50%;
            padding-bottom: 40px;
        }
    }
}
