footer {
    color: $brand-secondary;
}

#footer-top {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;

    .container {
        background-image: url('../images/dc-logo-bg.png');
        background-size: contain 40%;
        background-repeat: no-repeat;
        background-position: right;

        #footer-menus {
            padding: 20px 0;

            .menu {
                margin-right: 50px;

                h3 {
                    padding: 20px 0;
                }

                ul {
                    list-style-type: none;

                    li {
                        &:not(:last-child) {
                            padding-bottom: 5px;
                        }

                        a {
                            display: inline-block;
                            color: grey;
                        }
                    }
                }
            }
        }

        .copyright {
            width: 50%;
            padding-bottom: 40px;
            font-size: 14px;
            color: grey;

            a {
                color: $brand-primary;
            }
        }
    }
}

#footer-bottom {
    padding: 30px 0;
    background-color: #303030;

    button {
        padding: 15px;
        border: 2px solid $brand-primary;
        font-weight: 700;
        background-color: transparent;
        color: $brand-secondary;
    }

    .social-icons {
        color: $brand-primary;

        li {
            display: inline-block;
            margin-left: 15px;

            @each $icon in $social-icons {
                .#{$icon} {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    background-image: url('../images/footer-#{$icon}.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
