header {
    li {
        display: inline-block;
    }

    #header-top {
        padding: 5px 0;
        font-size: 13px;
        background-color: $brand-primary;

        ul {
            text-align: right;

            li {
                &:first-child {
                    margin-right: 30px;
                }

                a {
                    color: white;
                }
            }
        }
    }

    #header-bottom {
        .logo {
            padding: 20px 0;

            img {
                height: 80px;
            }
        }

        ul {
            height: 124px;

            li {
                height: 100%;
                line-height: 124px;
                margin: 0 20px;

                &:hover {
                    border-bottom: 5px solid $brand-primary;
                }

                &:hover a {
                    color: $brand-primary;
                }

                &:last-child a span {
                    color: $brand-primary;
                }

                a {
                    color: black;
                    font-weight: 700;
                }
            }
        }
    }

}
