main {
    color: $brand-secondary;

    #jumbotron {
        padding: 200px 0;
        background-image: url('../images/jumbotron.jpg');
    }

    #container-comics {
        background-color: black;

        h1 {
            span {
                display: inline-block;
                padding: 10px 20px;
                transform: translateY(-50%);
                background-color: $brand-primary;
            }
        }

        .card {
            width: 183px;
            margin-bottom: 30px;

            .thumb {
                width: 175px;
                height: 175px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            .series {
                padding: 20px 0;
            }
        }

        .cta {
            padding-bottom: 15px;
            text-align: center;

            button {
                padding: 8px 50px;
                border-radius: 2px;
                border: 0;
                font-weight: 700;
                color: $brand-secondary;
                background-color: $brand-primary;
            }
        }
    }

    #buy-comics {
        padding: 50px 0;
        background-color: $brand-primary;

        ul {
            list-style-type: none;

            li {
                img {
                    max-height: 60px;
                    margin-right: 10px;
                }

                &:last-child {
                    img {
                        height: 40px;
                    }
                }
            }
        }
    }
}
