main {
    .jumbotron {
        &.home {
            background-image: url('../images/jumbotron.jpg');
            background-size: cover;
            padding: 200px 0;
        }

        &.comics-details {
            .top {
                background-size: cover;
                padding: 200px 0;

                @each $item in $jumbotron-bg {
                    &.#{$item} {
                        background-image: url('../images/#{$item}-jumbotron.jpg');
                    }
                }
            }

            .bottom {
                background-color: $brand-primary;

                .small-container {
                    position: relative;
                    padding: 30px 0;

                    .thumb {
                        position: absolute;
                        left: 0;
                        bottom: 15px;
                        border: 1px solid $brand-secondary;
                        color: $brand-secondary;

                        img {
                            display: block;
                        }

                        span {
                            position: absolute;
                            display: block;
                            background-color: #00a9d9;
                            text-align: center;

                            &.comics-type {
                                top: 0;
                                left: 0;
                            }

                            &.gallery {
                                bottom: 0;
                                left: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #container-comics {
        color: $brand-secondary;
        background-color: black;

        h1 {
            span {
                display: inline-block;
                padding: 10px 20px;
                transform: translateY(-50%);
                background-color: $brand-primary;
            }
        }

        .card {
            width: 183px;
            margin-bottom: 30px;

            a {
                color: $brand-secondary;

                .thumb {
                    width: 175px;
                    height: 175px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .series {
                    padding: 20px 0;
                }
            }
        }

        .cta {
            padding-bottom: 15px;
            text-align: center;

            button {
                padding: 8px 50px;
                border-radius: 2px;
                border: 0;
                font-weight: 700;
                color: $brand-secondary;
                background-color: $brand-primary;
            }
        }
    }

    #buy-comics {
        padding: 50px 0;
        color: $brand-secondary;
        background-color: $brand-primary;

        ul {
            list-style-type: none;

            li {
                img {
                    max-height: 60px;
                    margin-right: 10px;
                }

                &:last-child {
                    img {
                        height: 40px;
                    }
                }
            }
        }
    }

    #comics-info {
        .top {
            padding: 50px;

            .info {
                width: 65%;

                h1 {
                    color: #003f5e;
                }

                .sales-info {
                    margin: 20px 0;
                    color: $brand-secondary;
                    background-color: #55ba59;

                    .left {
                        flex-grow: 1;
                        border-right: 1px solid black;
                    }

                    .left, .right {
                        padding: 20px;
                    }
                }

                .description {
                    line-height: 25px;
                    color: #958e87;
                    font-weight: 600;
                }
            }

            .adv {
                width: 35%;
                text-align: right;
                color: #958e87;
            }
        }

        .bottom {
            padding: 20px 0 100px 0;
            background-color: #f6f6f6;

            .row {
                padding: 10px 0;
                border-bottom: 1px solid #ced2c9;

                h3 {
                    margin-bottom: 20px;
                    color: #003f5e;
                }

                .col {
                    &:first-child {
                        width: 30%;
                    }

                    &:last-child {
                        width: 70%;
                    }
                }
            }

            .talent, .specs {
                width: calc(50% - 25px);
                font-weight: 600;
                color: #958e87;

                h5 {
                    color: #003f5e;
                }

                a {
                    color: $brand-primary;
                }
            }

            .talent {
                margin-right: 50px;
            }

            .specs {
                .series {
                    color: $brand-primary;
                }
            }
        }
    }

    #cta {
        background-color: #f6f6f6;
        border-top: 1px solid #ced2c9;

        .actions {
            border-left: 1px solid #ced2c9;

            .action {
                width: 25%;
                padding: 15px;
                border-right: 1px solid #ced2c9;
                color: #958e87;

                @for $i from 0 through 3 {
                    &:nth-child(#{$i+1}) {
                        .icon {
                            background-position: #{$i*37}px 0;
                        }

                        &:hover .icon {
                            background-position: #{$i*37}px 37px;
                        }
                    }
                }

                .icon {
                    width: 37px;
                    height: 37px;
                    background-image: url('/images/cta-icons.png');
                }
            }
        }
    }

    .error-message {
        padding: 50px 0;
        font-size: 40px;
    }
}
