main {
    color: white;

    .jumbotron {
        padding: 200px 0;
        background-image: url('../images/jumbotron.jpg');
    }

    .container-comics {
        background-color: black;

        .card {
            width: 183px;
            margin-bottom: 40px;

            .thumb {
                width: 175px;
                height: 175px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            .series {
                padding: 20px 0;
            }
        }
    }
}
