$brand-primary: #0282f9;
$brand-secondary: white;
$social-icons: 'facebook', 'twitter', 'youtube', 'pinterest', 'periscope';
$jumbotron-bg: 'action-comics-deluxe', 'american-vampire', 'acquaman', 'batgirl', 'batman', 'batman-beyond', 'batman-superman', 'batman-superman-annual', 'batman-joker-warzone', 'batman-joker-three-jokes', 'harley-quinn', 'catwoman'; 
